/node_modules
/tests
/storage/*.key
/resources/assets
/resources/js
/resources/lang
/resources/sass
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
